<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cosmas,welcome to this platform</h1>
  
    <div class="main">
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Services</li>
            <li>Contacts</li>
        </ul>  
        <p>I am a fullstack developer ready to work in all condictions given ,discipline and ready to learn all time </p>
    </div>
</body>
</html>